<%= link_to "New Encryption", mains_path, class: "home-button adjust-size", method: :get %>
<h1 class="center-header">Encryption</h1>
<%if @unencrypted_message[0] %>
<h3 class="center-header">
	<text class="input-color">
		<h3 id="title-adjust">
			Your Message:
		</h3>
		<p>
			<%= @unencrypted_message%>
		</p>
	</text>
</h3>
<h3>
	<text class="pad-color">
		<h3 id="title-adjust">
			One Time Pad:
		</h3>
		<p>
			<%= @single_pad%>
		</p>
	</text>
</h3>
<h3>
	<text class="output-color">
		<h3 id="title-adjust">
			Encrypted Message:
		</h3>
		<p>
			<%= @encrypted_messsage%>
		</p>
	</text>
</h3>
<% elsif(@user_input.length != 0)	%>
	<h3>Your input message <text class="failed-color"><%= @user_input %></text>
		could not be encrypted.</h3>
	<h3>ASCII characters encoded between decimal values 33-126 can be used
	except single quotes, double quotes and the backslash.</h3>
<% else%>
	<h3>Your input message was empty! Please input some text</h3>
<%end%>
