<h1>Encryption output</h1>
<%if @unencrypted_message[0] %>
	<h3>Your Message: [
		<text class="input-color">
			<%= @unencrypted_message%>
		</text>]
	</h3>
	<h3>One Time Pad: [
		<text class="pad-color">
			<%= @single_pad%>
		</text>]
	</h3>
	<h3>Encrypted Message:   [<text class="output-color"><%= @encrypted_messsage%></text>]</h3>
<% elsif(@user_input.length != 0)	%>
	<h3>Your input message [<text class="failed-color"><%= @user_input %></text>]
		could not be encrypted.</h3>
	<h3>ASCII characters encoded between decimal values 33-126 can be used
	except single quotes, double quotes and the backslash.</h3>
<% else%>
	<h3>Your input message was empty! Please input some text</h3>
<%end%>

<%= link_to "New Encryption", mains_path, class: "home-button", method: :get %>
