<!DOCTYPE html>
<html>
<head>
  <title>Encryptor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="matx">
 <%i = 2%>
 <%t_value = 1%>
 <%output_characters = ["ðŒ€", "ðŒ", "ðŒ‚", "ðŒƒ", "ðŒ„", "ðŒ…", "ðŒ†", "ðŒ‡", "ðŒˆ", "ðŒ‰", "ðŒŠ", "ðŒ‹", "ðŒŒ", "ðŒ", "ðŒŽ", "ðŒ", "ðŒ", "ðŒ‘", "ðŒ’", "ðŒ“", "ðŒ”", "ðŒ•", "ðŒ–", "ðŒ—", "ðŒ˜", "ðŒ™", "ðŒš","ã", "ã‚Œ", "ãž", "ã‚Œ", "ã«", "ã™", "ã‚‹", "ãƒ¡", "ã‚½", "ãƒƒ", "ãƒ‰", "ãŒ", "æœ‰", "ã‚Šã€", "ã", "ã‚Œ", "ãž", "ã‚Œ", "ã®", "æ–‡"]%>
 <%output_value = []%>
 <%while i <= 1100 do %>
   <%word_size = rand(40..50)%>
   <%word_size.times do%>
     <%output_value << output_characters.sample%>
   <%end%>
   <%t_value = rand(19) +1%>
   <%t_class = "t#{t_value}"%>
   <%style_position = "left:#{i}px;"%>
   <%if i == 2%>
      <%i_value = i%>
    <%else%>
      <%i_value = rand(18..21)%>
    <%end%>
   <% i += i_value%>
   <div class=<%= t_class%> style=<%= style_position %>><%= output_value.join(" ")%></div>
   <% output_value = []%>
 <%end%>
<body>
 <%= yield %>
</body>
</div>
</html>
